{{> header}}
<head>
      <nav>
        <nav id="navar" class="navbar navbar-expand-lg navbar-light bg-ligth">
          <img id="logo" src="/public/img/IMAGENE/cono.ico" />

          <a id="navllamada" class="nav-link" href="#"
            ><span class="titulo">BIENVENIDO A KiD-HELPED</span></a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a
                  target="blank"
                  id="LETRAS"
                  class="nav-link"
                  href="https://www.unir.net/educacion/revista/psicopedagogia-para-adultos-mayores/?msclkid=59514dddc10d11ec8cf3de6e5a64164f"
                  >MAS INFORMACION<span class="sr-only">(current)</span></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </nav>
    </head>

    <section id="hero">
      <div class="container">
        <div class="content-center topmargin-lg">
          <h1>
            <b>Kid-Helped<br /></b>
          </h1>

          <a
            target="blank"
            href="/src/pages/core/adultos.hbs"
            class="btn btn-light topmargin-sm"
            >Empieza ahora<ion-icon name="arrow-forward-circle"></ion-icon
          ></a>
        </div>
      </div>
    </section>
    <section id="portafolio">
      <div class="container-fluid">
        <div class="content-center">
          <h2>
            Ofrecemos diferentes <br />
            <b>actividades psicopedagogicas para ti</b>
          </h2>
        </div>
        <!--AQUI EMPIEZAN LAS IMAGENES-->
        <div class="row">
          <div class="col-md-6">
            <div class="portafolio-conteiner">
              <div class="portafolio-details">
                <br /><br />
                <a href="#">
                  <h2><b>Ajedrez Virtual</b></h2>
                </a>
                <a href="#"> </a>
              </div>
              <img src="/public/img/IMAGENE/ajedrez.jpg" class="img-fluid" alt="portafolio" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="portafolio-conteiner">
              <div class="portafolio-details">
                <br /><br />
                <a href="#">
                  <h2><b>Sudoku</b></h2>
                </a>
                <a href="#"> </a>
              </div>
              <img src=".img/IMAGENE/sudoku.jpg" class="img-fluid" alt="portafolio" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="portafolio-conteiner">
              <div class="portafolio-details">
                <br /><br />
                <a href="#">
                  <h2><b>Bingo</b></h2>
                </a>
                <a href="#"> </a>
              </div>
              <img src=".img/IMAGENE/bingo.jpg" class="img-fluid" alt="portafolio" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="portafolio-conteiner">
              <div class="portafolio-details">
                <br /><br />
                <a href="#">
                  <h2><b>Rompecabezas Van Gogh</b></h2>
                </a>
                <a href="#"> </a>
              </div>
              <img src=".img/IMAGENE/van1.jpg" class="img-fluid" alt="portafolio" />
            </div>
          </div>
        </div>
        <br />
        <div class="text-center margintop-sm"></div>
      </div>
      <!--AQUI TERMINAN-->
    </section>
    <section id="aboutus" class="bg-light-grey">
      <div class="container">
        <div class="content-center">
          <h2>
            Somos tu mejor opcion.<br />
            <b>Kid Helped es un equipo creado directamente para ayudarte</b>
          </h2>
        </div>
      </div>
    </section>
{{>footer}}