{{>header}}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">KiD-HELPED</a>
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#beneficios">Beneficios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#actividades">Actividades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#testimonios">Testimonios</a>
                </li>
              </ul>
        </nav>
        <div class="titulo d-flex align-items-center justify-content-center flex-column">
            <h1 id="primer">KiD-HELPED</h1>
            <p id="frase" style="font-size: 1cm;">Diviertete y aprende con nosotros
              </p>
        </div>
    </header>
    <div id="beneficios" class="presentación">
    <h2>Beneficios del aprendizaje a través del juego</h2>
    <p>
      La diversión se ha convertido, en los últimos años, en una de las herramientas más 
      efectivas para la ayuda en el ambito del aprendizaje en edades de entre 50-75, ya que mientras los adultos mayores realizan las diferentes actividades se relajan,divierten
      y lo mas importante aprenden, 
      lo que favorece su receptividad ante nuevos conceptos, ideas y valores. 
      existen otras ventajas, que tiene incluir el juego dentro 
      del sistema de enseñanza y aprendizaje: <br> <br>

      

    </p>
    <li>Mejora la comunicación. </li>
    <li>  Mejora el desarrollo cognitivo. </li>
    <li>Fomenta el aprendizaje significativo.</li>
    <li> Mejora las habilidades sociales. </li>
    <li>Favorece la comprensión. </li>
    <li>  Mejora la exposición de ideas. </li>
  </div>
    <section >
<center>
      
      <h1  style=" font-size: 1.5cm; ;"  ><u style="color:rgb(50, 24, 74)"> ACTIVIDADES</u></h1>
      
      
    </center>
        <div class="container" >
        <div class="row">
            <div class="col-12 col-sn-6 col-md-4 col-lp-3">
            <div class="card" style="width: 18rem;" id="actividades" >
                <img src="./img/IMG/happy.webp" class="card-img-top"  >
                <div class="card-body">
                  <h5 class="card-title" >Lógica</h5>
                  <p class="card-text parrafo" > El juego de lógica, cuyo objetivo es llenar el vaso de agua. 
                    Dibuja con el lapicero y convierte la línea en algo sólido para que, aplicando las leyes de la física, 
                    por la fuerza de la gravedad, el agua caiga en el vaso. </p>
                  <a href="https://www.cokitos.com/happy-glass-3/play/" class="btn btn-primary " style= "margin-left: 80px;">JUGAR</a>
                </div>
            </div>
            </div>
              <div class="col-12 col-sn-6 col-md-4 col-lp-3">
              <div class="card" style="width: 18rem;">
                <img src="./img/IMG/calculo.jpg" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">Cálculo Mental Rápido</h5>
                  <p class="card-text parrafo">Trata de calcular mentalmente estas operaciones
                     matemáticas antes de que se termine el tiempo y pon prueba tu agilidad mental con este juego pensado para ti ven e intentalo.</p>
                  <a href="https://www.cerebriti.com/juegos-de-matematicas/calculo-mental-rapido" class="btn btn-primary" style= "margin-left: 80px;">JUGAR</a>
                </div>
              </div>
              </div>
              <div class="col-12 col-sn-6 col-md-4 col-lp-3">
              <div class="card" style="width: 18rem;">
                <img src="./img/IMG/ajedrez.png" class="card-img-top" alt="Habitación relusiente">
                <div class="card-body">
                  <h5 class="card-title">Ajedrez</h5>
                  <p class="card-text parrafo">Este es un juego de ajedrez 
                    online en tres dimensiones, para jugar contra la computadora. 
                    Elige la modalidad de tiempo y mueve las fichas blancas del ajedrez
                     en este ajedrez virtual.</p>
                  <a href="https://www.cokitos.com/ajedrez-virtual/play/" class="btn btn-primary" style= "margin-left: 80px;">JUGAR</a>
                </div>
              </div>
              </div>
        </div>
        </div>
        
        <div class="container">
          <div class="row">
              <div class="col-12 col-sn-6 col-md-4 col-lp-3">
              <div class="card" style="width: 18rem;">
                  <img src="./img/IMG/sudoku.webp" class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">Sudoku Diario</h5>
                    <p class="card-text parrafo" > 
                      Juega de cada día a resolver diferentes sudokus, elige la dificultad desde nivel fácil a 
                      nivel experto ven y juega este sudoku virtual para mejorar el razonamiento . </p>
                    <a href="https://www.cokitos.com/sudoku-diario/play/" class="btn btn-primary" style= "margin-left: 80px;">JUGAR</a>
                  </div>
              </div>
              </div>
                <div class="col-12 col-sn-6 col-md-4 col-lp-3">
                <div class="card" style="width: 18rem;">
                  <img src="./img/IMG/bingo.png" class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">Bingo</h5>
                    <p class="card-text parrafo">Juego de bingo para jugar online y 
                      competir con otros jugadores. Debes estar atento o atenta a los números
                      que aparecen. busca en tu cartón de bingo virtual si tienes el número que aparece.</p>
                    <a href="https://www.cokitos.com/bingo-gratis-online/play/" class="btn btn-primary" style= "margin-left: 80px;">JUGAR</a>
                  </div>
                </div>
                </div>
                <div class="col-12 col-sn-6 col-md-4 col-lp-3">
                <div class="card" style="width: 18rem;">
                  <img src="./img/IMG/gogh.jpg" class="card-img-top" alt="Habitación relusiente">
                  <div class="card-body">
                    <h5 class="card-title">Rompecabezas de Van Gogh</h5>
                    <p class="card-text parrafo">Rompecabezas de Van Gogh son puzzles 
                      online para adultos, para resolver las imágenes de algunos cuadros
                       famosos de Van Gogh. Elige el número de piezas de puzzle y resuelve 
                       los rompecabezas con las obras de Vicent Van Gogh.</p>
                    <a href="https://www.cokitos.com/rompecabezas-de-van-gogh/play/" class="btn btn-primary" style= "margin-left: 80px;">JUGAR</a>
                  </div>
                </div>
                </div>
          </div>
          </div>
          
    </section>
   
 </center>
  <center>
 <h1 id="testimonios"  style=" font-size: 1cm; ;"  ><u style="color:rgb(50, 24, 74)"> TESTIMONIOS</u></h1>
 <div >
 
  
</div>
</center>
<div class="presentación">
<h3 id="testimonios" class= style="margin-left: 1em;">María Alexandra Torres.</h3 >
<p >
  
  "A mi edad de 65 años me di cuenta que perdi mi agilidad mental en las matematicas por eso decidi probar las actividades
  que ofrece este gran proyecto especialmente "calculo mental rapido" la que me ayudo en gran medida a recordar las operaciones matematicas y  agilitar mi mente como cuando era joven."
</p>
<h3 id="testimonios" class= style="margin-left: 1em;">Carlos Andrade Vizcaino.</h3 >
  <p >
    
    
       "Tengo 75 años y por temas de salud y el covid pues me cuido en la casa al momento de oir que existia esta Pág web me intereso mucho ya que
       en estos ultimos años no eh fortalecido mi mente ya sea con ejercicios de logica entre otros pero lo que mas me llamo la atencion es que implementaran el sudoku que es muy entretenido para mi y de paso 
       pues ejercito mi mente y me divierto en casa."
     
  </p>
  <h3 id="testimonios" class= style="margin-left: 1em;">Rosa Lourdes Alcivar.</h3 >
    <p >
      "Cuando me informaron de una pag que tenia diferentes actividades para mejorar fortalecer nuestra mente no dude en probarla 
      la primera impresion fue que se hayan preocupado en nostros los adultos mayores que busquen ayudarnos ya que somos personas 
      vulnerables y me encato esta idea de ofrecer actividades psicopedagogicas pensando en nosotros."" 
    </p>
</div>
 <div>
 <section class=" footer" style="background-color:darkcyan">
  <center>
  <h2 class="subtitle subtitle--modifirre " style="font-size: 1cm;">Somos tu mejor opcion para que tu hijo se divierta y aprenda<span class="point">.</span></h2>

    <p class="copy__section copy__section--modifire" style="font-size: 0.5cm;">Kid Helped es un equipo creado directamente para ayudarte </p>
  </center>
    
</section>
</div>
{{> footer}}