{{> header}}
<header class="hero"> 
		<nav class="nav__hero">
			<div class="container nav__container "  >
			<div class="logo">
			<h2 class="logo__name">KiD HELPED<span class="point">.</span> </h2>
			</div>
			<div class="links">
				<a href="#actividades" class="link">Actividades</a>
				<a href="#Videos" class="link">Videos</a>
				<a href="#testimonios" class="link link--active">Testimonios</a>
			</div>
		</div>
		</nav>
	</header>
					<div class="card">
						<div class="cards__text">
							<input type="url" name="" id="">
							<h3 class="card__title">Ingrese el link del video y descripsion<span class="point">.</span></h3>
							<input type="text" name="" id="">
							<a  target="_blank" href="guardar" class="card__button">Guardar</a>
						</div>
					 </div>
{{> footer}}