{{> header}}
    <!--AQUI COMIEZA EL HEADER-->
    <head>
      <nav>
        <nav id="NAV" class="navbar navbar-expand-lg navbar-light bg-ligth">
  <img id="logo" src=".img/img/informacion/icono.ico">
 
    <a id="navllamada" class="nav-link" href="#"><span class="titulo">BIENVENIDO A KiD-HELPED</span></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    
  </button>
  

  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      
      
      <li class="nav-item active">
        <a id="LETRAS" class="nav-link" href="../Indexs/registro.html">REGISTRATE <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a id="LETRAS" class="nav-link" href="../Indexs/iniciar_s.html">LOG IN<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id="LETRAS" class="nav-link" href="#autos">VISIÓN </a>
      </li>
      <li class="nav-item">
        <a id="LETRAS" class="nav-link" href="#autos">MISIÓN</a>
      </li>
      
      
    </ul>
  </div>
</nav>
      </nav>
    </head>
    <!--AQUI TERMINA EL HEADER-->
    <!--AQUI EMPIEZA EL MAIN-->
    <main class="container_2">
      <!--AQUI EMPIEZA EL CAROUSEL-->
      <div id="carousel" class="carousel slide" data-ride="carousel" data-pause="false" >
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./img/img/informacion/carrusel_1.jpg" class="img_carrusel d-block w-100" alt="imagen 1">
    </div>
    <div class="carousel-item">
      <img src="./img/img/informacion/carrusel_2.jpg" class="img_carrusel d-block w-100" alt="imagen 2">
    </div>
    <div class="carousel-item">
      <img src="./img/img/informacion/carrusel_3.jpg" class="img_carrusel d-block w-100" alt="imagen 3">
    </div>
    <div class="carousel-item">
      <img src="./img/img/informacion/carrusel_4.jpg" class="img_carrusel d-block w-100" alt="imagen 3">
    </div>
    <div class="carousel-item">
      <img src="./img/img/informacion/carrusel_5.jpg" class="img_carrusel d-block w-100" alt="imagen 3">
    </div>
  </div>
     <div class="overlay">
      <div class="container text-center text-md-right">
        <div class="row mt-5">
          <div class="col-12 col-md-6 offset-md-6">
            <h1 id="Home"><i>Divierte y aprende con nosotros<i></h1>
            <p class="d-none d-md-block">Aqui encontraras diferentes actividades psicopedagogicas que te ayudaran a aprender de una manera divertida e interesante</p>
           <a target="blank" href="https://institutoneurociencias.med.ec/blog/item/867-problemas-aprendizaje" class="btn btn-primary">Problemas mas comunes en niños en la etapa del aprendizaje</a>
          </div>
        </div>
      </div>
    </div>
</div><br/>
      <!--AQUI TERMINA EL CAROUSEL-->

      <!--AQUI EMPIEZA LAS SECCIONES-->
      <section >
        <div class="container">

          <div class="row text-center">
            <div class="txt_info col-12 col-md-6">
              <h3>Misión</h3>
              <p>Como equipo queremos llegar con nuestro proyecto a los niños y niñas que tengan algun problema en su aprendizaje por ello hemos creado esta herramienta que con un dispositivo movil o computadora podra ingresar y jugar con las diferentes actividades que brinda esta pág web
              </p>
            </div>
            <div class="txt_info col-6">
              <img id="imagen_cont" src="./img/img/informacion/Mision-empresarial.jpg">
            </div>
          </div><br>

          

           <div class="row text-center">
            <div class="txt_info col-12 col-md-6">
              <h3>Visión</h3>
              <p id="autos">
              Con nuestro equipo esperamos llegar al mayor numero de usuarios, no nos limitaremos a solo un rango de edad, deseamos llegar a todos quienes necesiten algun ejercicio para afrontar estos problemas psicopedagogicos
              </p>
            </div>
            <div class="txt_info col-6">
              <img id="imagen_cont" src="./img/img/informacion/vision.jpg">
            </div>
          </div><br/>

          <div class="row text-center">
            <div class="txt_info col-12 col-md-6">
              <h3>Interfaz de la pág</h3>
              <p id="autos">KiD-HELPED se enfoca en brindar de una manera facil y sencilla actividad o videos para el usuario dependiendo del problema que desea superar </p>
            </div>
            <div class="txt_info col-6">
              <img id="imagen_cont" src="./img/img/informacion/Pag.jpg">
            </div>
          </div><br>
        </div>
      </section><br/>
       <!--AQUI TERMINAN LAS SECCIONES-->
     
<!--AQUI TERMINAN LAS CARTAS-->
     
    </main>
    <!--AQUI TERMINA EL MAIN-->
    <!--AQUI COMIENZA EL FOOTER-->
  <!-- <footer class="pb-3 pt-3">
  <div class="container">
    <div class="row text-left">
      <div  class="col-12 col-md-6 col-lg">
        <a href="#">KiD-HELPED - PROJECT</a>
      </div>
      <div class="col-12 col-md-6 col-lg">
        <a href="#">TODOS LOS DERECHOS RESERVADO 2020-2021</a>
      </div>
      <div class="col-12 col-md-6 col-lg">
        <a href="#">HTML5</a>
      </div>
      <div class="col-12 col-md-6 col-lg">
        <a href="#">CSS</a>
      </div>
    </div>
  </div>  
  </footer> -->
  <footer>
    
        <div class="row py-3 container_iconos_redes">
            <div class="container_redes">
                <h5 class="titulo_redes">Redes sociales</h5>
                <table>
                    <tr><a href="https://www.facebook.com/Kid-Helped-106028891840271" class="icono_1">f</a></tr>
                    <!-- <tr><a href="#" class="icono_1">3</a></tr> -->
                    <tr><a href="https://mobile.twitter.com/HelpedKid" class="icono_1">t</a></tr>
                    <!-- <tr><a href="#" class="icono_1">g</a></tr> -->
                    <tr><a href="https://youtu.be/6bCGMVAQ6Vg" class="icono_1">y</a></tr>
                    <tr><a href="https://www.instagram.com/kid.helped210/" class="icono_1">c</a></tr>
                   
            </div>
        </div>
        <div class="row container_redes text-center">
            <p class="text-center">KiD-HELPED.</p>
            <p class="text-center">Todos los derechos reservados.</p>
            <p class="text-center">Copyright© 2021-2022</p>
        </div>
    </div>
</footer>
 <!--AQUI TERMINA EL FOOTER-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{{>footer}}