{{> header }}

<header class="hero"> 
		<nav class="nav__hero">
			<div class="container nav__container "  >
			<div class="logo">
			<h2 class="logo__name">KiD HELPED<span class="point">.</span> </h2>
			</div>
			<div class="links">
				<a href="/adultos">Seccion adultos mayores</a>
				<a href="#actividades" class="link">Actividades</a>
				<a href="#Videos" class="link">Videos</a>
				<a href="#testimonios" class="link link--active">Testimonios</a>

			</div>
		</div>
		</nav>
		<section id="Hero" class="container hero__main"  >
			<div class="hero__textos">
				<h1 class="title">VEN Y SUPERA TUS MIEDOS A TRAVES DE UNA <span class="title__active">EXPERIENCIA DIGITAL.</span></h1>
				<p class="copy">Nos encargamos de ayudarte con diferentes <span class="copy__active"> actividades psicopedagogicas</span> </p>
			</div>
			<img src="./img/imagenes/logo.jpg" class="mockap" width="100">
		</section>
		
	</header>
	<main >
		<section class="service">
			<div class="container">
				<h2 class="subtitle" id="actividades">Diviertete con estas actividades<span class="point">.</span></h2>
				<p class="copy__section">Te ofrecemos pasar un tiempo entretenido</p>
				<article class="container-cards">
					<div class="card">
						<img src="./img/imagenes/diferente.jpg" class="card__img">
						<div class="cards__text">
							<p class="card__list">Actividad para el deficit de atencion </p>
							<h3 class="card__title">Encuentra las diferencias<span class="point">.</span></h3>
							<p class="cards__copyy">Encontrar las diferencias es un excelente ejercicio para el refuerzo y desarrollo de las habilidades mentales </p>
							<a  target="_blank" href="http://es.hellokids.com/r_1547/juegos-gratuitos/buscar-las-diferencias" class="card__button">Vamos a la actividad!!</a>
						</div>
					 </div>
					 <div class="card">
						<img src="./img/imagenes/sopa.jpg" class="card__img" width="300">
						<div class="cards__text">
							<p class="card__list">Actividad para la dislexia</p>
							<h3 class="card__title">Sopa de letras<span class="point">.</span></h3>
							<p class="cards__copyy">Los rompecabezas de palabras y sopas de letras son de vital importancia para el rendimiento escolar y diario del niño, ya que generan la habilidad para crear estrategias espontaneas.</p>
							<a target="_blank" href="https://juegosinfantiles.bosquedefantasias.com/sopas-letras" class="card__button">Vamos a la actividad!!</a>
						</div>
					 </div>
					 <div class="card">
						<img src="./img/imagenes/Matematica.jpg" class="card__img">
						<div class="cards__text">
							<p class="card__list">Actividades para aprender matematicas </p>
							<h3 class="card__title">Variado<span class="point">.</span></h3>
							<p class="cards__copyy">Las matematicas son fundamentales para el desarrollo intelectual de los niños, les ayuda a ser logicos, a razonar ordenadamente y a tener una mente preparada para el pensamiento, la critica y la abstraccion.</p>
							<a  target="_blank" href="https://www.mundoprimaria.com/juegos-educativos/juegos-matematicas/geometria/geo-quinto" class="card__button">Vamos a la actividad!!</a>
						</div>
					 </div>
					 <div class="card">
						<img src="./img/imagenes/laberinto.jpg" class="card__img">
						<div class="cards__text">
							<p class="card__list">Actividades para la disgrafia </p>
							<h3 class="card__title">Laberintos didacticos<span class="point">.</span></h3>
							<p class="cards__copyy"> Con los laberintos se puede observar su percepcion espacial, su rapidez de aprendizaje, su capacidad para la toma de decisiones, su ejecutiva y habilidad, si se lo pasa bien con este tipo de actividades o no, etc.</p>
							<a  target="_blank" href="https://www.juegosinfantilespum.com/laberintos-online/index.php" class="card__button">Vamos a la actividad!!</a>
						</div>
					 </div>
					 <div class="card">
						<img src="./img/imagenes/memoria.jpg" class="card__img">
						<div class="cards__text">
							<p class="card__list">Actividades Memorama </p>
							<h3 class="card__title">Encuentra la pareja<span class="point">.</span></h3>
							<p class="cards__copyy">Los juegos de memoria son muy factibles ya que entrenan la memoria visual,potencian las habilidades cognitivas,mejora la concentracion,aumenta la memoria a corto plazo,etc.</p>
							<a  target="_blank" href="https://www.memo-juegos.com/juegos-de-memoria-online/ninos" class="card__button">Vamos a la actividad!!</a>
						</div>
					 </div>
					 <div class="card">
						<img src="./img/imagenes/pintar.jpg" class="card__img">
						<div class="cards__text">
							<p class="card__list">Actividades para la discapacidad intelectual</p>
							<h3 class="card__title">Pintar y colorear<span class="point">.</span></h3>
							<p class="cards__copyy">El gran beneficio de colorear es que los niños aprenden mientras se divierten. Es una actividad muy divertida con la que el tiempo pasa volando. La combinacion de color y adhesivos desarrolla la creatividad, favorece la concentracion y mejora la motricidad de forma divertida.</p>
							<a  target="_blank" href="https://www.colorear-online.com/colorear-princesas/index.php" class="card__button">Vamos a la actividad!!</a>
						</div>
					 </div>
				</article>
			</div>
		</section>
		<!-- Aqui empiza los videos tutoriales-->
		<section class="project container " >
			<h2 class="subtitle" id="videos ">Videos didacticos<span class="point">.</span></h2>
				<p class="copy__section">Aqui encontraras videos con  diferentes actividades,mira y diviertete</p>
			<article class="container-bg">
				<div class="card">
						
						<div id="Videos" class="cards__text">
							<h3 class="card__title">Encuentra las diferencias<span class="point">.</span></h3>
							<p class="card__date">Actividad para el deficit de atencion</p>
							<p class="cards__copyy">Encontrar las diferencias es un excelente ejercicio para el refuerzo y desarrollo de las habilidades mentales</p>
							<a  target="_blank" href="https://www.youtube.com/watch?v=irHvkLZ3Hws" class="card__button">Vamos al Video!!</a>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/diferencia3.jpg" class="background__img">

					 </div>
					 <div class="card" >
						
						<div class="cards__text">
							<h3 class="card__title">Sopa de letras<span class="point">.</span></h3>
							<p class="card__date">Actividad para la dislexia </p>
							<p class="cards__copyy">Las sopas de letras son de vital importancia para el rendimiento escolar y diario del niño, ya que generan la habilidad para crear estrategias espontaneas</p>
							<a target="_blank" href="https://youtu.be/7UCy3TGSN4U" class="card__button">Vamos al video!!</a>
						</div>
					 </div>
					 <div class="background">
					 	<img src="./img/imagenes/sopa2.jpg" class="background__img">

					 </div>
					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Suma y resta<span class="point">.</span></h3>
							<p class="card__date">Actividades para aprender matematicas</p>
							<p class="cards__copyy">Las matematicas son fundamentales para el desarrollo intelectual de los niños, les ayuda a ser logicos, a razonar ordenadamente y a tener una mente preparada para el pensamiento, la critica y la abstraccion</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=2Iy92z6WOqI" class="card__button">Vamos al video!!</a>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/suma.jpg" class="background__img">

					 </div>
					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Laberintos<span class="point">.</span></h3>
							<p class="card__date">Actividades para la disgrafia </p>
							<p class="cards__copyy">Con los laberintos se puede observar su percepcion espacial, su rapidez de aprendizaje, su capacidad para la toma de decisiones, su ejecutiva y habilidad, si se lo pasa bien con este tipo de actividades o no,etc</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=JsVHuff68VM" class="card__button">Vamos al video!!</a>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/laberinto2.jpg" class="background__img">
	
					 </div>

					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Memoria<span class="point">.</span></h3>
							<p class="card__date">Actividades Memorama </p>
							<p class="cards__copyy">Los juegos de memoria son muy factibles ya que entrenan la memoria visual,potencian las habilidades cognitivas,mejora la concentracion,aumenta la memoria a corto plazo,etc.</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=9__168bBW_c" class="card__button">Vamos al video!!</a>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/memoria2.jpg" class="background__img">
					 	<div class="background__text">

					 </div>
					 </div>
					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Escucha<span class="point">.</span></h3>
							<p class="card__date">Actividades para la discapacidad intelectual</p>
							<p class="cards__copyy">Esta actividad de oir y adivinar el nombre del animal que lo produce es una gran actividad para niños con problemas intelectuales ya que nos solo refuerza la capacidad auditiva sino que tmabien la parte visual y la memoria</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=p6uzxgPmKy4" class="card__button">Vamos al video!!</a>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/escucha3.jpg" class="background__img">


			</article>
		</section>
		 <section class="testimonios" id="testimony">
	      <div class="container" class="P">
         <h2 class="subtitle">Actividades para tus hijos<span class="point">.</span></h2>
        <p class="copy__section">las mas favorables en resultados</p>
        <div class="testimonios-container">
        	<div class="testimonios__card">
        	<img src="./img/imagenes/game.jpg" class="testimonios__img">
          <div class="testimonios__copy">
          <i class='bx bxl-google'></i>
           <div class="testimonios__info">
            	<h3 class="testimonios__name">Dibujar y pintar</h3>
            	<p class="testimonios__position">Se recomienda que se lo realize 100% a mano</p>
            </div>
          </div>	
        	</div>
        	<div class="testimonios__card" class="">
        	<img src="./img/imagenes/kid2.jpg" class="testimonios__img">
          <div class="testimonios__copy">
            <i class='bx bxl-apple'></i>
            <div class="testimonios__info">
            	<h3 class="testimonios__name">Colocar las letras</h3>
            	<p class="testimonios__position">Actividad mas recomendada a nivel didactico</p>
            </div>
          </div>	
        	</div>
          <div id="testimonios" class="testimonios__card" class="testimonios__img">
          	<div class="testimonios__text">
          		<img src="./img/imagenes/icon.svg" class="google__logo" width="100">
          		<p class="testimonios__history">
          		"Desde que inicio la cuarentena mi hijo y yo resolvemos las diferentes actividades que nos ofrecen en esta Pag web, me parecio fantastica la idea"
          		</p>
          		 <div class="testimonios__copy testimonios__copy--modifire">
           <!--<img src="./img/imagenes/kid3.jpg" class="testimonios__logo logo--picture"><-->
            <div class="testimonios__info">
            	<h3 class="testimonios__name">Ana Cristina Cardenas Nunez</h3>
            	<p class="testimonios__position">Madre de familia </p>
            </div> 
          </div>	
          	</div>
          </div>

        </div>
      </div>

    </section>
    <section class="email container container--modifire">
    	<h2 class="subtitle subtitle--modifirre">Somos tu mejor opcion para que tu hijo se divierta y aprenda<span class="point">.</span></h2>

        <p class="copy__section copy__section--modifire">Kid Helped es un equipo creado directamente para ayudarte </p>

    </section>
	</main>

{{> footer }}
