{{> header}}
<header class="hero"> 
		<nav class="nav__hero">
			<div class="container nav__container "  >
			<div class="logo">
			<h2 class="logo__name">KiD HELPED<span class="point">.</span> </h2>
			</div>
			<div class="links">
				<a href="/adulto">Seccion adultos mayores</a>
				<a href="#Videos" class="link">Videos</a>
			</div>
		</div>
		</nav>
	</header>
    <main>
        <!-- Aqui empiza los videos tutoriales-->
		<section class="project container " >
			<h2 class="subtitle" id="videos ">Videos didacticos<span class="point">.</span></h2>
				<p class="copy__section">Aqui encontraras videos con  diferentes actividades y recomendaciones</p>
			<article class="container-bg">
				<div class="card">
						
						<div id="Videos" class="cards__text">
							<h3 class="card__title">Cuidados para el adulto mayor<span class="point">.</span></h3>
							<p class="card__date">Cuidado Adultos mayores</p>
							<p class="cards__copyy">con los adultos mayores se tiene que tener algunos cuidados especiales y actividades que los ayuden aqui te lo contamos</p>
							<a  target="_blank" href="https://www.youtube.com/watch?v=BOlG6cQWcBA" class="card__button">Vamos al Video!!</a>
                            <button class="card__button">editar</button>
                            <button class="card__button">eliminar</button>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/cuidado_adultos.jpg" class="background__img">
					 </div>
					 <div class="card" >
						
						<div class="cards__text">
							<h3 class="card__title">cuidado y respeto del adulto mayor <span class="point">.</span></h3>
							<p class="card__date">respeto adulto mayor </p>
							<p class="cards__copyy">tanto el adulto mayor tiene que tener una cuidado y un respeto segun ya ley del ecuador aqui te lo contamos</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=nvDC1WciFaI" class="card__button">Vamos al video!!</a>
                            <button class="card__button">editar</button>
                            <button class="card__button">eliminar</button>
						</div>
					 </div>
					 <div class="background">
					 	<img src="./img/imagenes/respeto_adulto.jpg" class="background__img">
					 </div>
					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Actividades de estimulacion<span class="point">.</span></h3>
							<p class="card__date">Actividades de Estimulacion congnitiva</p>
							<p class="cards__copyy">La estimulacion es clave para disminuir el deterioro mental aqui lo puedes mirar</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=2YjX_xg-AEk" class="card__button">Vamos al video!!</a>
                            <button class="card__button">editar</button>
                            <button class="card__button">eliminar</button>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/estimulacion_cognitiva.jpg" class="background__img">
					 </div>
					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Actividades recreativas adultos mayores<span class="point">.</span></h3>
							<p class="card__date">actividades recreativas  </p>
							<p class="cards__copyy">las actividades de las que el adulto mayor puede hacer para poder mantener si agilidad mental</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=ZqQr4684rJM" class="card__button">Vamos al video!!</a>
                            <button class="card__button">editar</button>
                            <button class="card__button">eliminar</button>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/dinamicas_adultos.jpg" class="background__img">
					 </div>

					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Memoria y ejercitar el cerebro<span class="point">.</span></h3>
							<p class="card__date">memoria y agilidad cerebral</p>
							<p class="cards__copyy">la memoria es muy importante para los adultos mayores con lo que a cada persona tendria que hacer algunos ejercicios para que no pierda esta agilidad aqui te lo informamos</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=0I_E8Zb1Uc0" class="card__button">Vamos al video!!</a>
                            <button class="card__button">editar</button>
                            <button class="card__button">eliminar</button>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/agilidad_mental.jpg" class="background__img">
					 	<div class="background__text">
					 </div>
					 </div>
					 <div class="card">
						
						<div class="cards__text">
							<h3 class="card__title">Consejos para cuidar de adultos mayores <span class="point">.</span></h3>
							<p class="card__date">consejos para el cuidado de adultos mayores</p>
							<p class="cards__copyy">aunque la mayoria entiendo lo que dicen los adultos mayores casi nunca esta bien aqui te proporcionamos algunos consejos</p>
							<a target="_blank" href="https://www.youtube.com/watch?v=yTD6U-y976E" class="card__button">Vamos al video!!</a>
                            <button class="card__button">editar</button>
                            <button class="card__button">eliminar</button>
						</div>
					 </div>
					 <div class="background" class="">
					 	<img src="./img/imagenes/ayuda_adultos.jpg" class="background__img">
			</article>
		</section>
    </main>

{{> footer}}